In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('E:/DataSets/covid_19_india.csv')

In [3]:
data.drop(['Time' , 'State/UnionTerritory','ConfirmedIndianNational','ConfirmedForeignNational'] , axis = 1 , inplace = True)

In [4]:
data.head()

   Sno      Date  Cured  Deaths  Confirmed
0    1  30/01/20      0       0          1
1    2  31/01/20      0       0          1
2    3  01/02/20      0       0          2
3    4  02/02/20      0       0          3
4    5  03/02/20      0       0          3

In [5]:
data =  data.groupby(data['Date']).sum()

In [6]:
data.to_csv('E:/anil.csv')

In [7]:
cd = pd.read_csv('E:/anil.csv')

In [8]:
cd['date'] = pd.to_datetime(cd.Date)

In [9]:
cd.drop(['Date' , 'Sno'] , axis = 1 , inplace = True)

In [10]:
df1 = cd.iloc[:36 , :]

In [11]:
df = cd.iloc[36:,:]

In [12]:

df['date'] = df["date"].dt.strftime("%m/%d/%y")

C:\Users\Anil Chowdary\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
df1['date'] = df1['date'].dt.strftime("%d/%m/%y")

C:\Users\Anil Chowdary\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
a=pd.concat([df1, df] , axis = 0)

In [15]:
a.to_csv("E:/new1.csv")

In [17]:
data1 = pd.read_csv("E:/new1.csv")

In [18]:
data1

    Unnamed: 0  Cured  Deaths  Confirmed      date
0            0      0       0          2  02/01/20
1            1      0       0          3  03/01/20
2            2    144      41       1834  04/01/20
3            3      0       0          3  02/02/20
4            4      0       0          5  03/02/20
5            5    156      53       2069  04/02/20
6            6      0       0          3  02/03/20
7            7      3       0          6  03/03/20
8            8    163      62       2547  04/03/20
9            9      0       0          3  02/04/20
10          10      3       0         28  03/04/20
11          11    213      75       3072  04/04/20
12          12      0       0          3  02/05/20
13          13      3       0         30  03/05/20
14          14    275      83       3577  04/05/20
15          15      0       0          3  02/06/20
16          16      3       0         31  03/06/20
17          17    319     111       4281  04/06/20
18          18      0       0          3  02/07/20
19          19      3       0         34  03/07/20
20          20    353     124       4789  04/07/20
21          21      0       0          3  02/08/20
22          22      3       0         39  03/08/20
23          23    411     149       5274  04/08/20
24          24      0       0          3  02/09/20
25          25      3       0         46  03/09/20
26          26    478     169       5865  04/09/20
27          27      0       0          3  02/10/20
28          28      3       0         58  03/10/20
29          29    516     206       6761  04/10/20
..         ...    ...     ...        ...       ...
56          56   2302     519      16116  04/19/20
57          57      0       0          3  02/20/20
58          58     23       4        223  03/20/20
59          59   2842     559      17656  04/20/20
60          60      0       0          3  02/21/20
61          61     23       4        283  03/21/20
62          62   3260     603      18985  04/21/20
63          63      0       0          3  02/22/20
64          64     24       7        360  03/22/20
65          65   3960     652      20471  04/22/20
66          66      0       0          3  02/23/20
67          67     24       7        433  03/23/20
68          68   4325     686      21700  04/23/20
69          69      0       0          3  02/24/20
70          70     40       9        519  03/24/20
71          71   4814     723      23452  04/24/20
72          72      0       0          3  02/25/20
73          73     43      10        606  03/25/20
74          74      0       0          3  02/26/20
75          75     45      15        694  03/26/20
76          76      0       0          3  02/27/20
77          77     67      17        724  03/27/20
78          78      0       0          3  02/28/20
79          79     80      19        909  03/28/20
80          80      0       0          3  02/29/20
81          81     96      27       1024  03/29/20
82          82      0       0          1  01/30/20
83          83    102      31       1251  03/30/20
84          84      0       0          1  01/31/20
85          85    124      35       1397  03/31/20

[86 rows x 5 columns]

In [20]:
data1['date'] = pd.to_datetime(data1.date)

In [25]:
data1.sort_values(by ='date', inplace = True)

In [27]:
data1.to_csv("e:/DataSets/COVID_19_CLEANED.csv")